html {
  box-sizing: border-box;
  font-family: "Crimson Text";
  line-height: 1.3;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
margin:
}

article {
  color: #222;
}

article h1 {
  font-size: 1.5rem;
  font-weight: lighter;
  padding-left: .5rem;
}

article header {
  font-weight: lighter;
  border: 2px;
}

article header p {
  font-style: italic;
  font-size: 1em;
  border: 2px;
  padding-left: 1.7rem;
  margin: -1.25rem;
}

article p {
  margin: 2rem .5rem;
}

article ol {
  padding-left: .5rem;
}

blockquote {
  font-size: 1.125rem;
  color: #555;
}

.quote {
  color: #999;
}
