html {
  box-sizing: border-box;
  font-family: "Crimson Text";
  line-height: 1.3;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 20px;
}

article {
  color: #222;
}

article h1 {
  font-size: 1.5rem;
  font-weight: lighter;
}

article header {
  font-weight: lighter;
}

article header p {
  font-style: italic;
  font-size: 1em;
  border: 2px;
}

article p {
  padding-right: 1em;
}

article ol {
  padding-left: 1em;
}

blockquote {
  font-size: 1.125rem;
  color: #555;
}
